// Main Page Buttons
.add-trip-btn,
.year-drop-down {
  background-color: $button-background;
  margin: 1.2% 1.2% 1.2% 21%;
  padding: 0 2%;
  font-size: 1em;
}

button {
  border-radius: 0.4em;
  border: none;
}

.logout-btn {
  background-color: $button-background;
  font-size: 0.8em;
  margin: 0.6%;
  padding: 0 2%;
}

// Modal Buttons
.exit-btn {
  background-color: $button-background;
  margin-left: 75%;
  font-size: 0.8em;
  padding: 0.5%;
}

.submit-btn {
  margin: 0 0 0 49%;
  font-size: 1.5em;
  padding: 0.5%;
}

// Login Page Buttons
.login-btn {
  font-size: 1em;
  padding: 0.5% 6%;
}







