.add-trip-btn,
.year-drop-down {
  background-color: $button-background;
  margin: 1.2% 1.2% 1.2% 21%;
  padding: 0 2%;
  font-size: 1em;
}

button {
  border-radius: 0.4em;
  border: none;
}

.login-btn {
  font-size: 1em;
  padding: 0.5% 6%;
}

.logout-btn {
  background-color: $button-background;
  font-size: 0.8em;
  margin: 0.6%;
  padding: 0 2%;
}





