// --pale-silver: #C5B2A4ff;
// --xanadu: #7E8671ff;
// --lavender-gray: #CCCCD8ff;
// --light-french-beige: #CAB07Aff;
// --silver-chalice: #A1ABACff;

body {
  background: $primary-background no-repeat center fixed;
  background-size: cover;
  margin: 0%;
}

button {
  border-radius: 0.4em;
  border: none;
}

h1 {
  display: flex;
  font-size: 2em;
  color: white;
  background-color: $header-background;
  padding: 0.5%; 
  margin: 0%;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: $header-background
}


.logout-btn {
  font-size: 0.9em;
  margin: 0.6%;
  padding: 0 2%;
}

.main {
  display: flex;
  justify-content: space-around;
}

.mid-section {
  display: flex;
  justify-content: space-around;
  padding: 3%;
}

.hidden {
  display:none
}