// --pale-silver: #C5B2A4ff;
// --xanadu: #7E8671ff;
// --lavender-gray: #CCCCD8ff;
// --light-french-beige: #CAB07Aff;
// --silver-chalice: #A1ABACff;

body {
  background: $primary-background no-repeat center fixed;
  background-size: cover;
  margin: 0%;
  font-family: 'Open Sans', sans-serif;
}

img {
  height: 10em;
  width: 15em;
}

h1 {
  font-size: 2em;
  color: white;
  background-color: $header-background;
  padding: 0.5%; 
  margin: 0%;
}

h2 {
  display: flex;
  justify-content: center;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: $header-background;
}

.hidden {
  display:none!important;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10%;
  margin: 10.5%;
  @include widgetStyles();
}

.main {
  display: flex;
  flex-direction: column;
}

.sub-header {
  @include mainBodyStyle();
}

.users-trips-section {
  @include mainBodyStyle();
  justify-content: space-around;
}

.total-cost {
  font-size: 1.5em;
  @include widgetStyles();
}

.widgets {
  font-size: 1em;
  @include widgetStyles();
}